.form-back {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-serif);
  margin-left: 4rem;
  margin-right: 4rem;

  .vich-image {
    a {
      pointer-events: none;
      cursor: default;
    }
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}