{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | About{% endblock %}

{% block body %}
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    
    <h2>About</h2>
</div>
{% endblock %}
