{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | About{% endblock %}

{% block body %}
</style>

<div class="about-page">
    <h1>About BeatHub</h1>
    <p>
      Welcome to BeatHub! Our mission is to help music lovers discover new artists, keep up with the latest concert events, and connect with other fans.
    </p>
    <p>
      Our platform provides a comprehensive database of talented musicians from a wide range of genres. Whether you're a fan of rock, pop, hip-hop, or electronic music, we've got you covered. Our team is passionate about music and we're constantly updating our database to bring you the latest and greatest in the music world.
    </p>
    <p>
      Our goal is to create a community of music fans and artists where you can share your passion for music with others. We believe that music has the power to connect people and bring joy to our lives. By using BeatHub, you'll have access to a range of features to help you stay up-to-date with your favorite artists, discover new music, and find the best concerts near you.
    </p>
    <p>
      We're committed to providing our users with the best possible experience. If you have any questions or feedback, please don't hesitate to contact us. We're always happy to hear from our users and we're constantly working to improve our platform.
    </p>
    <p>
      Thank you for using BeatHub and we hope you enjoy discovering new music and connecting with other music lovers.
    </p>
</div>
{% endblock %}
