{% extends 'base_back.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('Back/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_app_post_index') }}">back to list</a>

    {{ include('Back/post/_delete_form.html.twig') }}
{% endblock %}
