{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Posts{% endblock %}

{% block body %}
    <h1>My Posts</h1>
    <div class="container-table">
      <table class="table table--post">
          <thead>
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Author</th>
                  <th scope="col">Title</th>
                  <th scope="col">Content</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Updated at</th>
                  <th scope="col">Validated at</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
          {% for post in posts %}
            {% include '/Back/post/postRow.html.twig' with { post } %}
          {% else %}
              <tr>
                  <td class="text-center">no records found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>

    <a href="{{ path('admin_app_post_new') }}">Create new</a>
{% endblock %}
