{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Posts validation{% endblock %}

{% block body %}

    <h1>Posts validation</h1>
    {% if artistId == null %}
      <p>You must be linked to an artist to validate post</p>
    {% endif %}
    <div class="container-table">
        <table class="table table--validation">
            <thead>
                <tr>
                    <th scope="col">Post ID</th>
                    <th scope="col">Author</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col">Validated at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for post in unvalidatedPosts %}
                {% include '/back/post/postRow.html.twig' with { post, validation } %}
            {% else %}
              <tr>
                  <td class="text-center">no records found</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
