{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Activation du compte{% endblock %}

{% block body %}
    <div>
        <h1>Activation du compte</h1>
        <p>{{ message }}</p>
{% endblock %}
