{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Profile update!{% endblock %}

{% block body %}
    <h1>Profile update!</h1>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {{ form_rest(form) }}
        <input type="submit" value="S'enregistrer">
    {{ form_end(form) }}
{% endblock %}
