<nav class="back_sidebar">
  <div class="back_sidebar__container">
    <div class="back_sidebar__container__logo-container">
      <a class="back_sidebar__container__logo-container__home-link" href="{{ path('front_default_index') }}">
        <img src="/build/images/logo.svg" class="back_sidebar__container__logo-container__logo" >
        <span class="back_sidebar__container__logo-container__texte">BeatHub</span>
      </a>
    </div>
    <div class="back_sidebar__container__navigation">
      {% if is_granted('ROLE_ARTIST') or is_granted('ROLE_CAN_MODERATE_COMMENT') %}
        <section class="back_sidebar__container__navigation__section">
          <span class="back_sidebar__container__navigation__section__title">Content</span>
          {% if is_granted('ROLE_ARTIST') %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_post_index'),
                iconTwig: '/icons/home.html.twig',
                text: 'Posts',
              }
            %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_event_new'),
                iconTwig: '/icons/home.html.twig',
                text: 'Create event',
              }
            %}
          {% endif %}
          {% if is_granted('ROLE_CAN_MODERATE_COMMENT') %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_comment_validation'),
                iconTwig: '/icons/home.html.twig',
                text: 'Comment moderation',
              }
            %}
          {% endif %}
        </section>
      {% endif %}

      <section class="back_sidebar__container__navigation__section">
        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
          <span class="back_sidebar__container__navigation__section__title">Management</span>
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_user_index'),
                iconTwig: '/icons/link.html.twig',
                text: 'Associate user to Artist',
              }
            %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_post_validation'),
                iconTwig: '/icons/home.html.twig',
                text: 'Validate posts',
              }
            %}
          {% endif %}
        </section>
    </div>

  </div>
  <footer class="back_sidebar__footer">
    <img class="back_sidebar__footer__avatar" src="{{ asset(app.user.profile_picture_path|default('build/data-files/user-pictures/placeholder-image.jpeg')) }}" alt="Avatar">
    <span class="back_sidebar__footer__username">
      {{ app.user.userIdentifier }}
    </span>
    <a class="back_sidebar__footer__icon" href="{{ path('app_logout') }}">
      {% include '/icons/logout.html.twig' with { class: 'back_sidebar__container__navigation__section__item__icon'} %}
    </a>
  </footer>
</nav>