{% block body %}
  <p>Hi {{comment.getIdUser.username }}, your comment as been rejected...</p>
  <p>Reason : Watch your mouth</p>
  <p>The content of your comment: "{{ comment.text }}"</p>
{% endblock %}