.medias-list {
  padding: 16px;
  margin-bottom: 8px;
  &__img {
    width: 250px;
    height: 250px;
  }

  &__light-text {
    color: var(--color-secondary);
  }

  @media screen and (max-width: 768px) {
    &__img {
      width: 70px;
      height: 70px;
    }
  }
}