{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Edit {{ artist.pseudo }} {% endblock %}

{% block body %}
    <h1>Edit artist {{ artist.pseudo }}</h1>

    {{ include('Back/artist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_app_artist_index') }}">back</a>

{% endblock %}
