{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Clubs{% endblock %}

{% block body %}
    <h1>Clubs </h1>
    <div class="container-table">
      <table class="table table--post">
          <thead>
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">City</th>
                  <th scope="col">Capacity</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
          {% for club in clubs %}
            {% include '/Back/club/clubRow.html.twig' with { club } %}
          {% else %}
              <tr>
                  <td class="text-center">no records found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>

    <a href="{{ path('admin_app_club_new') }}">Create new</a>
{% endblock %}
