.event-header {
    display: flex;
    position: relative;
    color: var(--color-black);
  
    img {
      position: relative;
      top: 2.5rem;
      width: 225px;
      height: 225px;
      object-fit: cover;
      filter: drop-shadow(20px -20px 0px rgba(0, 0, 0, 0.25));
    }
  
    &__content {
      width: 100%;
      padding: {
        left: 140px;
        top: 1.5rem;
        right:1.5rem;
        bottom: 1.5rem;
      }
      margin-left: -100px;
      background: var(--color-primary);
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      box-sizing: border-box;
      min-height: 200px;
      height: fit-content;
  
      &__type {
        font-weight: bold;
        text-transform: capitalize;
      }
      
      &__info{

        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 0px;
        gap: 30px;

        &__icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
      }

      &__name {
        display: flex;
        gap: 0.25rem;
        align-items: flex-end;
        
        &__text {
          margin: 0;
          font-weight: bold;
          margin-right: 0.5rem;
        }
  
        a {
          text-decoration: none;
  
          &:hover {
            scale: 1.1;
          }
        }
  
        .icon {
          margin-bottom: 0.25rem;
          height: 20px;
          width: 20px;
  
          path {
            fill: var(--color-black);
          }
        }
      }
    }
  }