{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Feed{% endblock %}

{% block body %}
{# Check connection #}
{% if not app.user %}
  <div class="feed-not-connected">
    <div class="feed-not-connected__content">
      <h2 class="feed-not-connected__title">You are not connected !</h2>
      <p class="feed-not-connected__text">Sign in to see your personalied feed or create an account</p>
      <div class="feed-not-connected__buttons">
        {% include '/Front/components/button.html.twig' with { text: 'Sign in', link: path('app_login'), type: 'link', color: 'primary' } %}
        {% include '/Front/components/button.html.twig' with { text: 'Create an account', link: path('register'), type: 'link', color: 'primary' } %}
      </div>
    </div>
  </div>
  {% include '/Front/components/section.html.twig' with { name: 'Last posts' } %}
  <div class="posts-list">
    {% for post in posts %}
      {% include '/Front/components/post.html.twig'
        with {
          showComments: false,
          post,
          isPostLiked: false,
        }
      %}
    {% endfor %}
  </div>
{% else %}
  {% include '/Front/components/section.html.twig' with { name: 'Last followed post' } %}
  <div class="posts-list">
    {% for post in posts %}
      {% include '/Front/components/post.html.twig'
        with {
          showComments: false,
          post,
          isPostLiked: false,
        }
      %}
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
