{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Feed{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
          <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endfor %}
{# Check connection #}
{% if not app.user %}
  <div class="feed-not-connected">
    <div class="feed-not-connected__content">
      <h2 class="feed-not-connected__title">You are not connected !</h2>
      <p class="feed-not-connected__text">Sign in to see your personalised feed or create an account</p>
      <div class="feed-not-connected__buttons">
        {% include '/Front/components/button.html.twig' with { text: 'Sign in', link: path('app_login'), type: 'link', color: 'primary' } %}
        {% include '/Front/components/button.html.twig' with { text: 'Create an account', link: path('register'), type: 'link', color: 'primary' } %}
      </div>
    </div>
  </div>
  {% include '/Front/components/section.html.twig' with { name: 'Last posts' } %}
  <div class="posts-list">
    {% for post in posts %}
    {% set mediasListDuration = 0 %}
    {% if (post.getIdMediaslist) %}
      {% for media in post.getIdMediaslist.getMedias %}
        {% set mediasListDuration = mediasListDuration + media.duree %}
      {% endfor %}
    {% endif %}
    {% set isPostLiked = post.userslike.contains(app.user) %}
      {% include '/Front/components/post.html.twig'
        with {
          showComments: false,
          post,
          isPostLiked,
          trimDescription: true,
        }
      %}
    {% endfor %}
  </div>
{% else %}
{# Check if user has followed artists #}
  {% if not posts %}
    <div class="feed-not-followed">
      <div class="feed-not-followed__content">
        <h2 class="feed-not-followed__title">You are not following any artist or they don't have any post yet !</h2>
        <p class="feed-not-followed__text">Follow more artists to see their latest posts</p>
        <div class="feed-not-followed__buttons">
          {% include '/Front/components/button.html.twig' with { text: 'Explore artists', link: path('front_app_artist_index'), type: 'link', color: 'primary' } %}
        </div>
      </div>
    </div>
  {% else %}
    {% include '/Front/components/section.html.twig' with { name: 'Lastest posts by your favorite artists' } %}
    <div class="posts-list">
      {% for post in posts %}
      {% set mediasListDuration = 0 %}
      {% if (post.getIdMediaslist) %}
        {% for media in post.getIdMediaslist.getMedias %}
          {% set mediasListDuration = mediasListDuration + media.duree %}
        {% endfor %}
      {% endif %}
      {% set isPostLiked = post.userslike.contains(app.user) %}
        {% include '/Front/components/post.html.twig'
          with {
            showComments: false,
            post,
            isPostLiked,
            trimDescription: true,
          }
        %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% endblock %}
