{% extends 'base_front.html.twig' %}

{% block title %}Hello ArtistsController!{% endblock %}

{% block body %}
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>Artists page<h2>
</div>
{% endblock %}
