{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Clubs{% endblock %}

{% block body %}

{% include '/Front/components/section.html.twig' with {name: 'Trending'} %}
<div class="clubs-list">
{% for club in clubsWithTopEvents %}
  {% include '/Front/components/clubRow.html.twig'
    with {
      clubImagePath: club.getPicturePath,
      clubSlug: club.slug,
      clubName: club.name,
      clubCity: club.city,
      clubCapacity: club.capacity,
      clubEventCount: club.eventCount,
    }
  %}
{% endfor %}
</div>

{% include '/Front/components/section.html.twig' with {name: 'New on BeatHub'} %}
<div class="clubs-list">
{% for club in clubs %}
  {% include '/Front/components/clubRow.html.twig'
    with {
      clubImagePath: club.getPicturePath,
      clubSlug: club.slug,
      clubName: club.name,
      clubCity: club.city,
      clubCapacity: club.capacity,
      clubEventCount: club.eventCount,
    }
  %}
{% endfor %}
</div>
{% endblock %}
