{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm, {'attr': {'class': 'form'}}  ) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn button btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
