{% extends 'base_front.html.twig' %}

{% block title %}BeatHub{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/srv/app/src/Controller/FrontController.php'|file_link(0) }}">src/Controller/FrontController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/srv/app/templates/Front/index.html.twig'|file_link(0) }}">templates/Front/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
