
{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Users{% endblock %}

{% block body %}
<h1>Users</h1>
<div class="container-table">
  <table class="table table--post">
      <thead>
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Email</th>
              <th scope="col">Username</th>
              <th scope="col">Roles</th>
              <th scope="col">Artist Link</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
      {% for user in users %}
        {% include '/Back/user/userRow.html.twig' with { user } %}
      {% else %}
          <tr>
              <td class="text-center">no records found</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
