{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Add artist to a groupe{% endblock %}

{% block body %}
    {% if artistLinked == true %}
      <h1>{{user.email}}</h2>
      {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Modifier">
      {{ form_end(form) }}
    {% else %}
      <h1>you should be a linked to an artist to add users</h1>
    {% endif %}
{% endblock %}
