{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Artists{% endblock %}

{% block body %}
{% include '/Front/components/section.html.twig' with { name: 'Trending' } %}
<div class="artists-list">
  {% for artist in artistsWithTopFollowers %}
    {% include '/Front/components/artistRow.html.twig'
      with {
        artistSlug: artist.slug,
        artistImagePath: artist.picture_path | default(null),
        artistName: artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')',
        artistCountry: 'Italy TODO',
        artistTotalEvents: artist.eventCount,
        artistTotalFollowers: artist.followerCount,
      }
    %}
  {% endfor %}
</div>
{% include '/Front/components/section.html.twig' with { name: 'New on BeatHub' } %}
<div class="artists-list">
  {% for artist in artists %}
    {% include '/Front/components/artistRow.html.twig'
      with {
        artistSlug: artist.slug,
        artistImagePath: artist.picture_path | default(null),
        artistName: artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')',
        artistCountry: 'Italy TODO',
        artistTotalEvents: artist.eventCount,
        artistTotalFollowers: artist.followerCount,
      }
    %}
  {% endfor %}
</div>
{% endblock %}
