{% extends 'base_front.html.twig' %}

{% block title %}Hello ArtistsController!{% endblock %}
{% block body %}
{{ dump(artists) }}
{{ dump(artistsWithTopFollowers) }}
{% include '/Front/components/section.html.twig' with { name: 'Trending' } %}
<div class="artists-list">
  {% for artist in artists %}
    {% include '/Front/components/artistRow.html.twig'
      with {
        artistSlug: artist.slug,
        artistImagePath: 'build/images/logo.svg',
        artistName: artist.pseudo,
        artistCountry: 'Italy',
        artistTotalEvents: 167,
        artistTotalFollowers: 1267,
      }
    %}
  {% endfor %}
</div>
{% include '/Front/components/section.html.twig' with { name: 'New on BeatHub' } %}
<div class="artists-list">
  {# {% for test in artistsWithTopFollowers %}
    {% include '/Front/components/artistRow.html.twig'
      with {
        artistImagePath: 'build/images/logo.svg',
        artistName: test.pseudo,
        artistCountry: 'Italy',
        artistTotalEvents: 167,
        artistTotalFollowers: 1267,
      }
    %}
  {% endfor %} #}
</div>
{% endblock %}
