{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | {{ artist.type == "group" ? artist.pseudo : artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')' }}{% endblock %}
{% block body %}
  {% include '/Front/components/artistHeader.html.twig' with { artist, followerCount, isFollowed } %}
  {# {% include '/Front/components/section.html.twig' with { name: 'Last posts' } %}
  <div class="post-list">
    {% for post in posts %}
      {% include '/Front/components/post.html.twig' with { post } %}
    {% endfor %}
  </div> #}

  {% include '/Front/components/section.html.twig' with { name: 'Last Posts' } %}

  {% if artist.getPosts|length > 0 %}
    <div class="posts-list">
      {% for post in artist.getPosts|filter(p => p.validatedAt is not null) %}
        {% set isPostLiked = post.userslike.contains(app.user) %}
        {% set mediasListDuration = 0 %}
        {% if (post.getIdMediaslist) %}
          {% for media in post.getIdMediaslist.getMedias %}
            {% set mediasListDuration = mediasListDuration + media.duree %}
          {% endfor %}
        {% endif %}
        {% include '/Front/components/post.html.twig'
          with {
            showComments: false,
            post,
            isPostLiked,
            mediasListDuration,
            trimDescription: true
          }
        %}
      {% endfor %}
    </div>
  {% else %}
    <div class="no-post">
      <p>No post on record</p>
    </div>
  {% endif %}

  {% include '/Front/components/section.html.twig' with { name: 'Musics' } %}

  {% if artist.getMedias|length > 0 %}
    <div class="musics-list">
      {% include '/Front/components/mediaRow.html.twig' with { artists : artist } %}
    </div>
  {% else %}
    <div class="no-music">
      <p>No music on record</p>
    </div>
  {% endif %}

  {% include '/Front/components/section.html.twig' with { name: 'Upcoming events' } %}

  <div class="upcoming-events">
    {% set upcomingEvents = artist.getEvents|filter(e => e.private == false)|filter(e => e.getStartDate > date('now')) %}
    {% if upcomingEvents|length > 0 %}
      {% for event in upcomingEvents %}
        {% include '/Front/components/eventRow.html.twig' 
          with {
            eventId : event.id,
            eventImagePath : event.getPrefixedPicturePath,
            eventName : event.title,
            eventSlug : event.slug,
            eventDate :  event.startdate|date("D M j"),
            eventClubName : event.getIdConcerthall.name,
            eventClubCity : event.getIdConcerthall.city
          }
        %}
      {% endfor %}
    {% else %}
      <div class="no-event">
        <p>No upcoming event</p>
      </div>
    {% endif %}
  </div>

  {% if artist.getFirstVideo or artist.getSecondVideo %}
    {% include '/Front/components/section.html.twig' with { name: 'Videos' } %}
    <div class="videos-list">
      {% include 'Front/components/artistVideo.html.twig' 
        with { 
          first_video : artist.getFirstVideo,
          second_video : artist.getSecondVideo
        }
      %}
    </div>
  {% endif %}

  {% include '/Front/components/section.html.twig' with { name: 'Past events' } %}

  <div class="past-events">
    {% set pastEvents = artist.getEvents|filter(e => e.private == false)|filter(e => e.getStartDate < date()|date_modify("-12 hours")) %}
    {% if pastEvents|length > 0 %}
      {% for event in pastEvents %}
        {% include '/Front/components/eventRow.html.twig' 
          with {
            eventId : event.id,
            eventImagePath : event.getPrefixedPicturePath,
            eventName : event.title,
            eventSlug : event.slug,
            eventDate :  event.startdate|date("D M j"),
            eventClubName : event.getIdConcerthall.name,
            eventClubCity : event.getIdConcerthall.city
          }
        %}
      {% endfor %}
    {% else %}
      <div class="no-event">
        <p>No past event</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
