{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | {{ artist.type == "group" ? artist.pseudo : artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')' }}{% endblock %}
{% block body %}
  {% include '/Front/components/artistHeader.html.twig' with { artist, followerCount, isFollowed } %}
  {# {% include '/Front/components/section.html.twig' with { name: 'Last posts' } %}
  <div class="post-list">
    {% for post in posts %}
      {% include '/Front/components/post.html.twig' with { post } %}
    {% endfor %}
  </div> #}

      {% include '/Front/components/section.html.twig' with { name: 'Last Posts' } %}

    <div class="posts-list">
      {% for post in artist.getPosts %}
        {% set isPostLiked = post.userslike.contains(app.user) %}
        {% set mediasListDuration = 0 %}
        {% if (post.getIdMediaslist) %}
          {% for media in post.getIdMediaslist.getMedias %}
            {% set mediasListDuration = mediasListDuration + media.duree %}
          {% endfor %}
        {% endif %}
        {% include '/Front/components/post.html.twig'
          with {
            showComments: false,
            post,
            isPostLiked,
            mediasListDuration,
            trimDescription: true
          }
        %}
      {% endfor %}
    </div>

    {% include '/Front/components/section.html.twig' with { name: 'Musics' } %}

      {% include '/Front/components/mediaRow.html.twig' with { artists : artist } %}

    {% include '/Front/components/section.html.twig' with { name: 'Upcoming events' } %}

    {% for event in artist.getEvents %} 
      {% if date(event.getStartDate) > date()|date_modify("-12 hours") %}
       {% include '/Front/components/eventRow.html.twig' 
        with {
          eventId : event.id,
          eventImagePath : 'build/images/logo.svg',
          eventName : event.title,
          eventSlug : event.slug,
          eventDate :  event.startdate|date("D M j"),
          eventClubName : event.getIdConcerthall.name,
          eventClubCity : event.getIdConcerthall.city
        }
      %}
      {% endif %}
    {% endfor %}

    {% include '/Front/components/section.html.twig' with { name: 'Medias' } %}

    {% include 'Front/components/artistVideo.html.twig' 
      with { 
        first_video : artist.getFirstVideo, 
        second_video : artist.getSecondVideo
      }
    %}
    {% include '/Front/components/section.html.twig' with { name: 'Past events' } %}
      {% for event in artist.getEvents %} 
      {% if date(event.getStartDate) < date()|date_modify("-12 hours") %}
       {% include '/Front/components/eventRow.html.twig' 
        with {
          eventId : event.id,
          eventImagePath : 'build/images/logo.svg',
          eventName : event.title,
          eventSlug : event.slug,
          eventDate :  event.startdate|date("D M j"),
          eventClubName : event.getIdConcerthall.name,
          eventClubCity : event.getIdConcerthall.city
        }
      %}
      {% endif %}
    {% endfor %}

  
{% endblock %}
