{% extends 'base_front.html.twig' %}

{% block title %}Beathub | recherche {% endblock %}

{% block body %}

    <h2>Results for "{{ search ?? ''}}" search:</h2>
    
        {% include '/Front/components/section.html.twig' with {name: 'Artists'} %}
        {% if artists|length != 0 %}
            <div>
                {% for artist in artists %}
                    {% include '/Front/components/artistRow.html.twig'
                            with {
                                artistSlug: artist.slug,
                                artistImagePath: artist.getPrefixedPicturePath,
                                artistName: artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')',
                                artistCountry: artist.Country,
                                artistTotalEvents: artist.eventCount | default(artist.getevents.count() ?? 0),
                                artistTotalFollowers: artist.followerCount | default( artist.followed.count() ?? 0),
                            } 
                    %}
          {% endfor %}
            </div>
        {% else %}
            <p>No artists found</p>
        {% endif %}

        {% include '/Front/components/section.html.twig' with {name: 'Club'} %}
        {% if concertHalls|length != 0 %}
            <div>
                {% for club in concertHalls %}
                       {% include '/Front/components/clubRow.html.twig'
                            with {
                            clubImagePath: club.getPrefixedPicturePath,
                            clubSlug: club.slug,
                            clubName: club.name,
                            clubCity: club.city,
                            clubCapacity: club.capacity,
                            clubEventCount: '',
                            }
                        %}
                {% endfor %}
            </div>
        {% else %}
            <p>No clubs found</p>
        {% endif %}

        {% if events is defined %}
        {% include '/Front/components/section.html.twig' with {name: 'Events'} %}
            <div>
            {% set filteredEvents = events|filter((event) => event.private == false) %}
            {% if filteredEvents|length == 0 %}
                <p>No events found</p>
            {% endif %}
            {% for event in filteredEvents %}
                {% include '/Front/components/eventRow.html.twig'
                    with {
                    eventImagePath: event.getPrefixedPicturePath,
                    eventSlug: event.slug,
                    eventName: event.title,
                    eventId : event.id,
                    eventDate: event.startdate|date("D M j"),
                    eventClubSlug: event.getidconcerthall.slug,
                    eventClubName: event.getidconcerthall.name,
                    eventClubCity:  event.getidconcerthall.city
                    }
                %}
            {% endfor %}
            </div>
        {% endif %}


{% endblock %}
