a.button {
  all: unset;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.button-type {
    &--solid, &--outline {
      padding: 0.5rem 1.5rem;
    }

    &--solid {
      font-weight: bold;
    }

    &--outline {
      background-color: var(--color-background);
      border-width: 1px;
      border-style: solid;
    }

    &--link {
      padding: 0;
      background-color: transparent;
      border-width: 0;
      border-style: none;
      text-decoration: underline;
    }
  }
  
  &.button-color {
    &--white {
      color: var(--color-text-primary);
      border-color: var(--color-text-primary);
    }

    &--primary {
      color: var(--color-primary);
      border-color: var(--color-primary);

      &.button-type--solid {
        background-color: var(--color-primary);
        color: var(--color-background);
      }
    }
  }
}