.comment {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__header {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      
      &__name {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--color-text-primary);
      }
  
      &__date {
        color: var(--color-secondary);
      }
    }


    &__text {
      color: var(--color-text-primary);
    }

    &__actions {
      display: flex;
      justify-content: end;
      gap: 0.5rem;
      color: var(--color-secondary);
      font-size: 1.2rem;
      cursor: pointer;

      &__like, &__stat {
        font-size: 0.8rem !important; // override font-size of button
      }

      &__stat {
        margin-left: 0.2rem;
      }
    }
  }
}