.comment {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;

  &--not-validated {
    .comment {
      &__avatar {
        opacity: 0.5;
      }

      &__content {
        &__header {
          &__name {
            color: var(--color-secondary);
          }

          &__not-validated {
            color: var(--color-primary);
            font-family: var(--font-family-sans-serif);
          }
        }

        &__text {
          color: var(--color-secondary);
        }

      }
    }
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__header {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      
      &__name {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--color-text-primary);
      }
  
      &__date {
        color: var(--color-secondary);
        font-family: var(--font-family-sans-serif);
      }
    }


    &__text {
      color: var(--color-text-primary);
    }
  }
}