@use 'topbar' as *;
@use 'footer' as *;
@use 'variables' as *;
@use 'back/sidebar' as *;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Rock+Salt&display=swap');

html, body {
  height: 100%;
}

body {
  background-color: #1B1B1B;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;

  .app {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

    main {
      padding: 1rem 3.5rem;
    }
  }
  
  .back {
    display: flex;
    background-color: var(--color-text-primary);
    color: var(--color-background);

    main {
      box-sizing: border-box;
      padding: 2rem;
      height: 100vh;
      max-height: 100vh;
      overflow-y: auto;
      width: calc(100vw - var(--sidebar-width));
    }
  }
}
