@use 'topbar' as *;
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Rock+Salt&display=swap');

body {
    background-color: #1B1B1B;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
