.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary-darker);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 1rem;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover, &:focus, &:active, &:visited {
      color: var(--color-primary);
    }

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }

  &__logo {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    @media (max-width: 600px) {
      display: none;
    }

    &__text {
      font-size: 1.3em;
      text-decoration: none;
      font-family: 'Rock Salt', cursive;
    }
  }

  &__navigation, &__user-info {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__user-info {
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__navigation {
    @media (max-width: 768px) {
      gap: 1rem;
    }
  }

  &__user-info {
    &__name {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        text-decoration: underline;

        img {
          box-shadow: var(--color-primary) 0px 0px 0px 1.5px;
        }
      }

      &__avatar {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    form {
      box-sizing: border-box;
      flex-grow: 1;
      max-width: 200px;
    }

    &__search {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--color-primary);
      font-size: 1rem;
      font-family: var(--font-family-sans-serif);
      color: var(--color-text-primary);
      background-color: var(--color-background);
      outline: none;

      &:focus {
        box-shadow: 0 0 0 2px var(--color-primary);
      }
    }
  }
}