.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-pirmary-darker);

  a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover, &:focus, &:active, &:visited {
      color: var(--color-primary);
    }

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }

  &__logo {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    &__text {
      font-size: 1.3em;
      text-decoration: none;
      font-family: 'Rock Salt', cursive;
    }
  }

  &__navigation, &__user-info {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__user-info {
    &__name {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        text-decoration: underline;

        img {
          box-shadow: var(--color-primary) 0px 0px 0px 1.5px;
        }
      }

      &__avatar {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}