.app {
  --color-background: #1B1B1B;
  --color-black: #292929;
  --color-text-primary: #FFFFFF;
  --color-secondary: #808080;
  --color-secondary-light: #bfbfbf;
  --color-primary: #FFA31A;
  --color-pirmary-darker: #6b4000;
  --sidebar-width: 250px;

  // Fonts
  --font-family-serif: 'Playfair Display', serif;
  --font-family-sans-serif: 'Roboto', sans-serif;
}
  