<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('build/images/favicon.ico') }}">
       {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div class="app">
        {% block topbar %}
          {% include '/Front/components/topbar.html.twig' %}
        {% endblock %}
        <main>
          {% block body %}{% endblock %}
        </main>
        {% block footer %}
          {% include '/Front/components/footer.html.twig' %}
        {% endblock %}
      </div>
    </body>
</html>
