<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('build/images/favicon.ico') }}" >
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div class="app back">
        {% block sidebar %}
            {% include '/Back/components/sidebar.html.twig' %}
        {% endblock %}
        <main class="view">
          {% block body %}{% endblock %}
        </main>
      </div>
    </body>
</html>
