{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | New Media{% endblock %}

{% block body %}
    <h1>Create new Media</h1>

    {% if linkedArtist == false %}
      <p> You must be linked to an artist to create a media, ask to your manager.</p>
    {% else %}
      {{ include('Back/media/_form.html.twig') }}
    {% endif %}


    <a href="{{ path('admin_app_media_index') }}">back to list</a>
{% endblock %}
