<!DOCTYPE html>

<title>New MediasList</title>

{% block body %}
    <h1>Create new MediasList</h1>

    {{ include('Front/medias_list/_form.html.twig') }}

    <a href="{{ path('front_app_medias_list_index') }}">back to list</a>
{% endblock %}
