{% extends 'base_front.html.twig' %}

{% block title %}Beathub | Events {% endblock %}

{% block body %}

{% include '/Front/components/section.html.twig' with {name: 'Tonight'} %}
<div class="events-list">
{% for event in events %}
  {% include '/Front/components/eventRow.html.twig'
    with {
      eventImagePath: event.getPicturePath,
      eventSlug: event.slug,
      eventName: event.title,
      eventId : event.id,
      eventDate: event.startdate|date("D M j"),
      eventClubSlug: event.getidconcerthall.slug,
      eventClubName: event.getidconcerthall.name,
      eventClubCity:  event.getidconcerthall.city
    }
  %}
{% endfor %}
</div>

{% include '/Front/components/section.html.twig' with {name: 'Tomorow'} %}
<div class="events-list">
{% for event in tomorrowEvents %}
{{ dump(event.slug)}}
  {% include '/Front/components/eventRow.html.twig'
    with {
      eventImagePath: event.getPicturePath,
      eventSlug: event.slug,
      eventName: event.title,
      eventId : event.id,
      eventDate: event.startdate|date("D M j"),
      eventClubSlug: event.getidconcerthall.slug,
      eventClubName: event.getidconcerthall.name,
      eventClubCity:  event.getidconcerthall.city
    }
  %}
{% endfor %}  
</div>
{% endblock %}
