{% extends 'base_front.html.twig' %}

{% block title %}Beathub | {{ event.title }} {% endblock %}

{% block body %}

  {% include '/Front/components/eventHeader.html.twig' with { event } %}

{% include '/Front/components/section.html.twig' with {name: 'Lineup'} %}

  {% for artist in event.getartists %}
      {% include '/Front/components/artistRow.html.twig'
        with {
          artistSlug: artist.slug,
          artistImagePath: artist.getPicturePath,
          artistName: artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')',
          artistCountry: artist.Country,
          artistTotalEvents: artist.eventCount | default(artist.getevents.count() ?? 0),
          artistTotalFollowers: artist.followerCount | default( artist.followed.count() ?? 0),
        } 
      %}
  {% endfor %}

{% include '/Front/components/section.html.twig' with {name: 'Musics'} %}

{% include '/Front/components/eventMediaRow.html.twig' with { artists : event.getartists } %}

{% include '/Front/components/section.html.twig' with {name: 'Medias'} %}
<div style="display: flex;justify-content: space-between;">
    <iframe width="530" height="315" src="https://www.youtube.com/embed/_7Hx_IB9Qys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="530" height="315" src="https://www.youtube.com/embed/_7Hx_IB9Qys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}
