<div class="section">
  <svg class="section__icon" width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="0.669686" y1="23.1246" x2="25.6697" y2="1.12464" stroke="#FFA31A"/>
  </svg>
  <span class="section__name">
    {{ name }}
  </span>
</div>