{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | 403{% endblock %}

{% block body %}
<div class="http-errors">
  <div class="http-errors-title">
    <span class="http-errors-title-text">4</span>
    <img class="http-errors-logo" src="/build/images/logo.svg">
    <span class="http-errors-title-text">3</span>
  </div>
  <p class="http-errors-text">Look like you’r not allowed</p>
  <p class="http-errors-text" ><a class="http-errors-link" href="{{path('front_default_index')}}">Back to home</a></p>
</div>
{% endblock %}
