{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Dashboard{% endblock %}

{% block body %}

<div class="example-wrapper">
  <h1>Welcome {{ user.username }} !</h1>
  {% if countInvites > 0 %}
  <p>You have {{ countInvites }} invite(s) pending !</p>
  {% endif %}
</div>
{% endblock %}
