<form method="post" action="{{ path('admin_app_mediaslist_remove_media', {'id': id, 'idMedia': media.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
    <button class="btn btn-danger">Remove from the list</button>
</form>
