{% extends 'base_front.html.twig' %}

{% block title %}Hello ClubsController!{% endblock %}

{% block body %}
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    
    <h2>Clubs</h2>
</div>
{% endblock %}
